In [28]:
import pandas as pd
import numpy as np

In [29]:
df5=pd.read_csv("OutputSmall.txt",header=None,names=['x','y','z'])

In [30]:
df5.head()

,x,y,z
0,'2.447255360000000000e+08\n','5.362485148569218770e+28\n','1.849372043765027315e+31\n'
1,'1.021212720194480662e+22\n','4.701808699307098445e+30\n','1.917782836534219738e-19\n'
2,'2.795536109274430177e+20\n','1.128918601218136107e+27\n','1.109178002515096568e+27\n'

In [20]:
df5['x'] = df5['x'].replace(r'\s+|\\n', ' ', regex=True)

In [37]:
df5.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=["",""], regex=True)

,x,y,z
0,'2.447255360000000000e+08','5.362485148569218770e+28','1.849372043765027315e+31'
1,'1.021212720194480662e+22','4.701808699307098445e+30','1.917782836534219738e-19'
2,'2.795536109274430177e+20','1.128918601218136107e+27','1.109178002515096568e+27'

In [22]:
df5['x'] = df5['x'].replace(r'\n', ' ', regex=True)

In [31]:
table=df5

In [32]:
table = table.replace(r'\n',  ' ', regex=True)

In [36]:
df5.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=["",""], regex=True)

,x,y,z
0,'2.447255360000000000e+08','5.362485148569218770e+28','1.849372043765027315e+31'
1,'1.021212720194480662e+22','4.701808699307098445e+30','1.917782836534219738e-19'
2,'2.795536109274430177e+20','1.128918601218136107e+27','1.109178002515096568e+27'